@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
}

.card {
  @apply bg-white shadow-soft rounded-2xl p-6;
}